@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import '/style/estilo.css';


/* ------ G E R A L ------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue: 190;
  --primary-color: hsl(var(--hue), 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(105, 8%, 29%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(calc(var(--hue) - 22), 23%, 89%);
  --brand-light2: hsl(calc(vaR(--hue) + 10), 14%, 97%);
  --bg-light: hsl(180, 12%, 97%);
  --brand-green: hsl(var(--hue), 100%, 14%);
  font-size: 62.5%; /*1 rem = 10px*/

  --nav-height: 7.2rem;

}

html{
  scroll-behavior: smooth;
}

html, body{
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
  background-color: var(--bg-light);
}

section {
  padding-block: 10rem;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

section header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--headline);
}

section header h4 {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
  line-height: 150%;
  letter-spacing: .08rem;
  text-transform: uppercase;
}

section .content p {
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--paragraph);
  font-weight: 400;
  
}

.btn-agenda {
  background-color: var(--primary-color);
  border-radius: 4rem;
  margin-bottom: 6rem;
  padding: 1.6rem 3.2rem;
  width: fit-content;
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  transition: background .3s;
}

.btn-agenda:hover {
  background: var(--brand-green);
  
}

/* ------ C U S T O M   C O L O R S ------ */
#services .card circle {
  fill: var(--brand-light);
}

#navigation .logo path[fill*="#00856F"],
#backToTopButton circle {
  fill: var(--primary-color);
}

#contact li path,
#navigation button.open-menu path {
  stroke: var(--primary-color);
}

#navigation.scroll .logo path,
body.menu-expanded #navigation .logo path[fill*="#00856F"] {
  fill: white;
}

#navigation.scroll button.open-menu path {
  stroke: white;
}


/* ------ N A V E G A Ç Ã O ------ */

nav {
  display: flex;
  width: 100vw;
  height: var(--nav-height);
  position: fixed;
  top: 0;

  z-index: 100;

}

nav div.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: var(--primary-color);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu, nav .close-menu{
  position: fixed;
}

/* ------ M E N U - E X P A N D E D ------ */
body.menu-expanded {
  overflow: hidden;
  
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu {
  transform: translateX(100%)
}

.menu, .close-menu, body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu, body.menu-expanded .close-menu{
  opacity: 1;
  visibility: visible;
}

body.menu-expanded .menu{
  top: 0;
  left: 0;
  background: var(--primary-color);
  width: 100vw;
  height: 100vh;
  padding-top: var(--nav-height);
  transition: transform .3s;
  transform: translateX(0)
}

body.menu-expanded .logo, body.menu-expanded nav button{
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: #fff;
}

body.menu-expanded button path {
  stroke: #fff;
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;

  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3.1rem;
  
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
}

.button {
  background: #fff;
  border-radius: 4rem;
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 2.3rem;
  color: var(--primary-color);

  display: inline-block;
  padding: 1.6rem 3.2rem;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
  border: 2px solid white;
  transition: .3s;
}

.menu .button:hover {
  background: var(--primary-color);
  color: white;
  border-color: white;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

/* ------ H E A D E R   H O M E------ */

#home {
  padding-block: 0;
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: '';
  background: var(--brand-light);
  width: 100%;
  height: calc(135% + var(--nav-height));
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home h3 {
  font-size: 4.8rem;
  color: #061800;
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

#home .btn-agenda {
  margin-inline: auto;
}

#home img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 .2rem;
}

#home .stats {
  width: 100%;

  background: var(--brand-beige);

  margin-inline: auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  
  padding-block: 4rem;

  border: 1px solid var(--brand-light);
  border-radius: .6rem;
}

#home .stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: .4rem;
}

#home .stat p {
  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 150%;
  margin: 0;
}

/* ------ S E R V I C E S ------ */

#services header h2 {
  margin-bottom: 6rem;
}

#services .cards {
  display:flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  background: #fff;
  padding: 2.4rem;
  text-align: left;

  border: 1px solid var(--brand-light);
  border-radius: .6rem;
}

#services .card h3 {
  margin-block: 1.6rem;
}

/* ------ A B O U T ------ */

#about {
  text-align: left;
  background: var(--brand-beige);

}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about .content p {
  margin-block: 2.4rem 6rem;
}

/* ------ C O N T A C T ------ */
#contact {
  text-align: left;
}

#contact header {
  margin-bottom: 3.2rem;
}

#contact ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
  gap: .8rem;
}

/* ------ F O O T E R ------ */
footer {
  background: var(--primary-color);
  padding-block: 6rem;

  text-align: left;
  color: white;
}

footer .logo {
  display: inline-block;
  margin-bottom: 2.4rem;
}

footer .logo svg {
  width: 23.6rem;
  height: 3.1rem;
}

footer .logo path {
  fill: white;
}

footer p {
  color: var(--brand-beige);
  line-height: 2;
  margin-bottom: 3.2rem;
}

footer .social-links {
  justify-content: flex-start;
}

/* ------ B A C K   T O   T O P ------ */
#backToTopButton{
  position: fixed;
  bottom: 1rem;
  right:2.5rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: .2s;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0)
}

/* ------ R E S P O N S I V O ------ */
@media (min-width: 1024px) {
  /* ------ G E R A L ------ */
  body {
    overflow: auto;
  }

  .wrapper {
    width: min(112rem, 100%);
    display: grid;

  }

  section {
    padding-block: 16rem;
  }

  section header h2 {
    font-size: 4rem;
    line-height: 5.2rem;
  }

  .col-a {
    grid-area: A;
  }

  .col-b {
    grid-area: B;
  }

  /* Reset */
  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    font-size: initial;
    position: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    font-weight: initial;
    filter: initial;
  }

  nav#navigation .close-menu,
  nav#navigation .open-menu,
  nav#navigation .social-links {
    display: none;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }

  nav#navigation .menu ul:nth-child(1) {
    display:flex;
    gap: 3.2rem;
  }

  nav#navigation .menu ul li a {
    color: var(--primary-color);
    opacity: 0.7;
  }

  nav#navigation .menu a.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;
    border: 1px solid var(--primary-color);
    border-radius: 4rem;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--primary-color);
  }

  nav#navigation .menu a.button:hover{
    background-color: var(--primary-color);
    border: none;
    color: white;
  }

  nav#navigation.scroll .menu ul li a {
    color: var(--brand-light2);
    opacity: 0.6;
  }

  nav#navigation .menu ul li a {
    transition: opacity .6s;
  }

  nav#navigation .menu ul li a.active,
  nav#navigation .menu ul li a:hover {
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation .menu ul li a::after {
    content: '';
    height: 2px;
    width: 0;
    background-color: var(--primary-color);
    position: relative;
    bottom: -2rem;
    left: -0.7rem;
    display: block;
    transition: width .2s;
  }

  nav#navigation.scroll .menu ul li a::after{
    background: white;
  }

  nav#navigation .menu ul li a.active::after,
  nav#navigation .menu ul li a:hover::after {
    padding-inline: .8rem;
    width: 100%;
  }

  nav#navigation.scroll .menu ul li a.active,
  nav#navigation.scroll .menu ul li a:hover {
    opacity: 1;
  }

  nav#navigation.scroll .menu a.button {
    color: white;
    border-color: white;
    transition: all .2s ease-in;
  }

  nav#navigation.scroll .menu a.button.active,
  nav#navigation.scroll .menu a.button:hover {
    background-color: var(--primary-color);
    filter: brightness(1.3);
    border: none;
  }

  /* ------ H O M E ------ */
  #home::before {
    height: calc(80% + var(--nav-height));
  }
  #home {
    padding-top: var(--nav-height);
  }
  #home .wrapper {
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas: 
    'A B'
    'C C';
  }

  #home .col-a{
    text-align: left;
    align-self: center;
  }

  #home h1 {
    font-size: 5.2rem;
  }

  #home .content p {
    font-size: 1.8rem;
  }

  

  #home .stats {
    grid-area: C;
    flex-direction: row;
    padding: 6rem;
    gap: 0;
  }

  #home .stats .stat + .stat {
    border-left: 1px solid var(--primary-color);
  }

  #home .stats .stat {
    flex: 1;
  }

  #home .btn-agenda{
    margin: 0;
  }

  #home img {
    width: 42rem;
  }

  /* ------ S E R V I C E S ------ */
  #services h2 {
    width: 47rem;
    margin-inline: auto;
  }

  #services .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }

  #services .card {
    width: 30%;
    flex-grow: 1;
  }

  /* ------ A B O U T ------ */

  #about .wrapper {
    grid-template-columns: 48rem 1fr;
    grid-template-areas: 'B A';
    gap: 6.7rem;
  }

  #about .col-a {
    align-self: center;
  }

  #about .content p {
    margin-bottom: 0;
  }

  /* ------ C O N T A C T ------ */

  #contact .wrapper {
    grid-template-columns: 1fr 57.5rem;
    grid-template-areas: 'A B';
  }

  #contact h2 {
    width: 40.4rem;
  }

  /* ------ F O O T E R ------ */
  footer {
    padding-block: 8rem;
  }
  
  footer .wrapper{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
  }

  footer .col-a {
    align-self: center;
  }

  footer .col-b {
    align-self: center;
    justify-self: flex-end;
  }

  footer p {
    margin-bottom: 0;
  }
}